.rosreestr-search-popup-content .nav {
  
  border-bottom-style: solid;
  width: 100%;
  display: inline-block;
  
  padding-left: 0;
  margin-top:0;
  margin-bottom: 0;
  list-style: none;
}


.rosreestr-search-popup-content .nav > li {  
  position: relative;
  display: block;
}
.rosreestr-search-popup-content .nav > li > a {
  position: relative;
  display: block;
  padding: 5px 5px;
}
.rosreestr-search-popup-content .nav > li > a:hover,
.rosreestr-search-popup-content .nav > li > a:focus {
  cursor:pointer;
  text-decoration: none;
  background-color: #eee;
}
.rosreestr-search-popup-content .nav > li.disabled > a {
  color: #777;
}
.rosreestr-search-popup-content .nav > li.disabled > a:hover,
.rosreestr-search-popup-content .nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.rosreestr-search-popup-content .nav .open > a,
.rosreestr-search-popup-content .nav .open > a:hover,
.rosreestr-search-popup-content .nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.rosreestr-search-popup-content .nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.rosreestr-search-popup-content .nav > li > a > img {
  max-width: none;
}
.rosreestr-search-popup-content .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.rosreestr-search-popup-content .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.rosreestr-search-popup-content .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #EFF7F3;
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}
.rosreestr-search-popup-content .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.rosreestr-search-popup-content .nav-tabs > li.active > a,
.rosreestr-search-popup-content .nav-tabs > li.active > a:hover,
.rosreestr-search-popup-content .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font-weight: bold;
}


.rosreestr-search-popup-content .nav:before,
.rosreestr-search-popup-content .nav:after,
.rosreestr-search-popup-content .navbar:before,
.rosreestr-search-popup-content .navbar:after
 {
  display: table;
  content: " ";
}


.rosreestr-search-popup-content .tab-content,
.rosreestr-search-popup-content .tab-content>div.scroll-container>div.active {	
	display:inline-table;
}

.rosreestr-search-popup-content .tab-content {
  
}

.rosreestr-search-popup-content .tab-content>div.scroll-container {
	overflow-y: auto;
}

.rosreestr-search-popup-content .tab-content>div.scroll-container>div {
	display:none;
}

.rosreestr-search-popup-content .tab-content>div.scroll-container>div .info {
  margin-top: 0px;
  width: 100%;
}

.rosreestr-search-popup-content .tab-content>div.scroll-container>div .info .emptyrow {
	height: 2px;
	vertical-align: middle;
}

.rosreestr-search-popup-content .tab-content>div.scroll-container>div .info  .splitter {
	border-bottom: 1px solid #dbdbdb;
	background: red;
}

.rosreestr-search-popup-content .tab-content>div.scroll-container>div .info  .left {
	width:60%;	
}

.leaflet-control-expand {
  clear: right;
 }
 
.leaflet-control-expand >a>div{
  width: 28px;
  height: 28px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url('lib/images/expand.svg');
  background-position: 1px 1px;
  background-size: 25px 25px;
  background-repeat: no-repeat;  
}



.leaflet-control-loading {
position:relative;
width:32px;
height:32px;
}



.leaflet-control-loading.disable  a >div>div {
	position: absolute;	
	background-color:rgba(77, 69, 77, 0.2)
	-webkit-transition:background-color  3s ease-out 0s;
	/*-moz-animation-duration: 0.1s;
	-moz-animation-iteration-count: 1;
	-webkit-animation-duration: 1.6s;
	-webkit-animation-iteration-count: 8;
	-ms-animation-duration: 0.1s;
	-ms-animation-iteration-count: 1;
	-o-animation-duration: 0.1s;
	-o-animation-iteration-count: 1;
	animation-duration: 0.1s;
	animation-iteration-count: 1;	
	*/
}

.leaflet-control-loading.hide {		
	visibility:hidden;
	-webkit-transition:visibility 2s ease-out 0s;
}

.leaflet-control-loading  a >div>div {

background-color:rgba(77, 69, 77, 0.2);
width:2px;
height:2px;
visibility:hidden;

}

.leaflet-control-loading.show  a >div>div {
background-color:rgba(77, 69, 77, 1);
-webkit-transition:background-color 2s ease-out 0s;	
visibility:visible;
position:absolute;
-moz-border-radius:10px;
-moz-animation-name:bounce_circular3dG;
-moz-animation-duration:1.6s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_circular3dG;
-webkit-animation-duration:1.6s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-ms-border-radius:10px;
-ms-animation-name:bounce_circular3dG;
-ms-animation-duration:1.6s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-o-border-radius:10px;
-o-animation-name:bounce_circular3dG;
-o-animation-duration:1.6s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
border-radius:10px;
animation-name:bounce_circular3dG;
animation-duration:1.6s;
animation-iteration-count:infinite;
animation-direction:normal;
}



.leaflet-control-loading  a >div :nth-child(1) {
left:13px;
top:2px;
-moz-animation-delay:1.8s;
-webkit-animation-delay:1.8s;
-ms-animation-delay:1.8s;
-o-animation-delay:1.8s;
animation-delay:1.8s;
}

.leaflet-control-loading  a >div :nth-child(2) {
left:20px;
top:8px;
-moz-animation-delay:1.6s;
-webkit-animation-delay:1.6s;
-ms-animation-delay:1.6s;
-o-animation-delay:1.6s;
animation-delay:1.6s;
}

.leaflet-control-loading a >div :nth-child(3) {
left:24px;
top:15px;
-moz-animation-delay:1.4s;
-webkit-animation-delay:1.4s;
-ms-animation-delay:1.4s;
-o-animation-delay:1.4s;
animation-delay:1.4s;
}

.leaflet-control-loading a >div :nth-child(4) {
left:22px;
top:22px;
-moz-animation-delay:1.2s;
-webkit-animation-delay:1.2s;
-ms-animation-delay:1.2s;
-o-animation-delay:1.2s;
animation-delay:1.2s;
}

.leaflet-control-loading a >div :nth-child(5) {
left:14px;
top:24px;
-moz-animation-delay:1s;
-webkit-animation-delay:1s;
-ms-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}

.leaflet-control-loading a >div :nth-child(6) {
left:3px;
top:16px;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

.leaflet-control-loading  a >div :nth-child(7){
left:0px;
top:5px;
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

.leaflet-control-loading a >div :nth-child(8) {
left:6px;
top:0px;
-moz-animation-delay:2s;
-webkit-animation-delay:2s;
-ms-animation-delay:2s;
-o-animation-delay:2s;
animation-delay:2s;
}

@-moz-keyframes bounce_circular3dG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(2.4)}

}


@-webkit-keyframes bounce_circular3dG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(2.4)}

}

@-ms-keyframes bounce_circular3dG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(2.4)}

}

@-o-keyframes bounce_circular3dG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(2.4)}

}

@keyframes bounce_circular3dG{
0%{
transform:scale(1)}

100%{
transform:scale(2.4)}
}
